/* Estilo inicial */
body {
  font-size: 1em;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
}

h1, h2 {
  font-size: 1.8em;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

/* Modo Alto Contraste */
.high-contrast {
  background-color: #222;
  color: #fff;
}

/* Fonte maior */
.large-font {
  font-size: 1.5em;
}

/* Fonte menor */
.small-font {
  font-size: 0.8em;
}
